{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2> {{ article.title }} </h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <footer class="post-info">
    <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
    {% if article.authors %}
    <address class="vcard author">
      By {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
    </address>
    {% endif %}
  </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}

  <h1>Details of the event</h2>
  <div>

<table class="table" style="width:100%">
  <tbody>
    <tr>
      <th scope="row">Status:</th>
      <td>{{ article.eventstatus }}</td>
    </tr>
    <tr>
      <th scope="row">Date:</th>
      <td>{{ article.eventdate }}</td>
    </tr>
    <tr>
      <th scope="row">Location:</th>
      <td>{{ article.eventlocation }}</td>
    </tr>
    <tr>
      <th scope="row">Map:</th>
      <td>{{ article.eventosm }}</td>
    </tr>
    <tr>
      <th scope="row">Language:</th>
      <td>{{ article.eventlanguage }}</td>
    </tr>
    <tr>
      <th scope="row">Wiki:</th>
      <td>{{ article.eventwiki }}</td>
    </tr>
  </tbody>
</table>

  </div>

  </div><!-- /.entry-content -->
    {% if article.category %}
    <div class="category">
        Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    </div>
    {% endif %}
    {% if article.tags %}
    <div class="tags">
        Tags:
        {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}

    {% if article.modified %}
    Updated: <time class="modified" datetime="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </time>
    {% endif %}

<p>
      <small>

      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">Permalink to {{ article.title }}</a></small>
</p>

</section>
{% endblock %}
