{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<h2>All events</h2>
{% endblock %}


<div class="list-group">
{% for article in articles_page.object_list %}

{% if article.eventexpire %}
 {% if article.date.now()|strftime('%Y%m%d') < article.eventexpire   %}

  <a href="{{ SITEURL }}/{{ article.url }}" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
	{{ article.title }}
      <small>
	    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
      </small>
    </div>
    <small class="text-muted">
    {{ article.summary }}
    </small>
  </a>
{% endif %}
{% endif %}

{% endfor %}
</div>

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

<p>
<!-- Events by tags -->
Find events by <a href="{{ SITEURL }}/tags.html">tags</a>
<!-- Events by authors -->
Find events by <a href="{{ SITEURL }}/authors.html">authors</a>
</p>

</section><!-- /#content -->
{% endblock content %}
